.button {
	box-sizing: border-box;
	border: none;
	border-radius: 8px;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 136.187%;
	cursor: pointer;
	color: white;
	padding: 8px 12px;

	/* Sizes */

	&_medium {
		padding: 8px 16px;
	}

	&_large {
		width: 100%;
		height: 48px;
	}

	/* Colors */

	&_color-primary {
		background: #512689;
	}

	&_color-primary:disabled {
		background: #cccdc2;
		color: #fff;
		cursor: auto;
	}

	&_color-secondary {
		border: 1px solid #f8f8f8;
		background: transparent;

		color: #f8f8f8;
	}

	&_color-secondary:disabled {
		background: transparent;
		border: 2px solid #cccdc2;
		color: #cccdc2;
		cursor: auto;
	}
}
